header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    background-color: #6c5ce7;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
}
.menu:hover .menu-link:not(:hover) {
    color: #241c69;
}
.menu-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
.menu-link {
    display: block;
}
.menu-link {
    padding: 2rem 0;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-link {
    position: relative;
    overflow: hidden;
    will-change: color;
    transition: color .25s ease-out;
}
@media screen and (max-width: 767px) {
    .menu-list {
        display: flex;
        font-size: 14px;
    }
    .menu-group {
        min-width: fit-content;
        margin-right: 35px;
    }
    .menu-group:last-child {
        margin-right: 0;
    }
    .menu-limiter {
        overflow-x: scroll;
        scroll-behavior: smooth;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 20px;
        margin-bottom: -20px;
        -webkit-mask-image: linear-gradient(
                90deg,
                #000 calc(100% - 18px),
                rgba(0, 0, 0, .25) calc(100% - 9px),
                transparent
        );
    }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .menu-group {
        margin-right: 55px;
    }
}



