.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
img {
    width: 30%;
    height: 300px;
}
@media screen and (max-width: 767px){
    img {
        width: 98%;
    }
}